 
 body{

 background-color:rgb(139, 125, 125);

}
h1{
  text-align: center;
  font-size: 50px;
  padding:10px 100px 10px 10px;
  background: blueviolet;
  border:10px 5px 5px 5px;
  border-color:gray;

}
nav li{
  display:inline;
  padding:5px 100px 5px 100px;
  margin:5px 100px 200px 100px;
  
}
nav{
  padding:5px 100px 10px 100px;
  background-color:honeydew;
}
a:hover{
  color :#cc3333;
  background-color: #ffffff;
}
.Quiz{
background-color: blue;
}
.Games{
  background-color: blue;
  }
  .Images{
    background-color: blue;
    }
h2{
  background: rgb(61, 80, 99);
  text-align:center;
}


section ul  {
  list-style-type:circle;
  text-align: left;
  padding:10px 50px 0px 50px;
}
section ol {
  list-style-type:upper-roman;
  text-align: left;
  padding:10px 50px 0px 50px;

}
#ordered-list{
  color: fuchsia;
  font-size: 30px;
  background-image: url("images/movies.jpeg");
  opacity:0.6;
}


.name{

  padding:5px 0px 5px 5px;

}
p{
  display: none,
}
